<%= form_for [@event, comment] do |f| %>
  <%= render partial: "devise/shared/error_messages", locals: { resource: comment } %>

  <div class="mb-2 ms-4 me-4">
    <%= f.label :comment %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <% unless user_signed_in? %>
    <div class="ms-4 me-4">
      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: "form-control" %>
    </div>
  <% end %>

  <div class="mt-3 ms-4 me-4">
    <%= f.submit t("views.send"), class: "btn btn-primary", data: { turbo: false } %>
  </div>
<% end %>
