<%= form_with model: event do |form| %>
  <%= render partial: "partials/form_errors", locals: {model: event} %>

  <div class="form-group mb-2 ms-4 me-4 col-6">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group mb-2 ms-4 me-4 col-6">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group mb-2 ms-4 me-4 col-6">
    <%= form.label :datetime %>
    <p><%= form.datetime_select :datetime, class: "form-control" %></p>
  </div>

  <div class="form-group mb-3 ms-4 me-4 col-6">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="actions ms-4 me-4">
    <%= form.submit t("views.save"), class: "btn btn-primary" %>
    или <%= link_to t("views.back"), :back %>
  </div>
<% end %>
