<h2 class="mb-2 ms-4 me-4 col-4"><%= t("views.pincode_access") %></h2>

<%= form_tag("", method: "post") do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div class="mb-3 ms-4 me-4 col-4">
    <%= label :pincode, :pincode %>
    <%= text_field_tag :pincode, params[:pincode], class: "form-control" %>
  </div>

  <div class="mb-3 ms-4 me-4 col-4">
    <%= submit_tag t("views.enter"), class: "btn btn-primary", data: { turbo: false } %>
    <%= t("views.or") %> <%= link_to t("views.back"), :back %>
  </div>
<% end %>
